@green:#16d9d2;

.margenes(@top: 0px, @botton: 0px) {
    margin-top: @top;
    margin-botton: @botton;
}

.jumbotron {
    background-color: @green;
    color: black;
    .margenes(50px, 0px);
}

.footer {
    padding: 10px 10px 0px 10px;
    background-color: @green;
    // margin-bottom: 0px;
    // margin-top: 10px ;
    .margenes(10px, 0px);
}

.card-hotel {
    flex: 1 150px;
    // padding: 2px 5px 2px 5px;
    // margin-top: 10px;
  .margenes(10px, 0px);
}

.btn-reserva {
    width: 100%;
    border-radius: 0px;
}

.footer-address-icon {
    padding-right: 10px;
}

.tab-content {
    padding-top: 10px;
}