$yellow:#1EEFFF;

@mixin margenes($top, $botton) {
    margin-top: $top;
    margin-botton: $botton;
}

.jumbotron {
    background-color: $yellow;
    color: black;
    @include margenes(50px, 0px);
}

.footer {
    padding: 10px 10px 0px 10px;
    background-color: $yellow;
    // margin-bottom: 0px;
    // margin-top: 10px ;
    @include margenes(10px, 0px);
}

.card-hotel {
    flex: 1 150px;
    // padding: 2px 5px 2px 5px;
    // margin-top: 10px;
    @include margenes(10px, 0px);
}

.btn-reserva {
    width: 100%;
    border-radius: 0px;
}

.footer-address-icon {
    padding-right: 10px;
}

.tab-content {
    padding-top: 10px;
}